.places {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: auto 148px;
  gap: 80px;
}

@media screen and (max-width: 1279px) {
  .places {
    margin: auto 48px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    margin: auto 24px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin: auto 0;
    gap: 50px;
  }
}