.header {
    display: flex;
    flex: row;
    justify-content: space-between;
    margin: 0 48px auto 48px;
    max-width: 100%;

}

@media screen and (max-width: 1023px) {
    .header {
        margin: 0 24px auto 24px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        margin: 0 16px auto 16px;
    }
}