@font-face {
    font-family: "Inter";
    font-weight: 900;
    src:
        url(./Inter-Black.woff2) format('woff2'),
        url(./Inter-Black.woff) format('woff'),
        url(.Inter-Black.ttf) format('truetype');
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src:
        url(./Inter-Bold.woff2) format('woff2'),
        url(./Inter-Bold.woff) format('woff'),
        url(./Inter-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    src:
        url(./Inter-Regular.woff2) format('woff2'),
        url(./Inter-Regular.woff) format('woff'),
        url(./Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Arial";
    font-weight: 900;
    src:
        url(./ArialBlack.eot) format('eot'),
        url(./ArialBlack.woff) format('woff'),
        url(./ArialBlack.ttf) format('truetype');
}

@font-face {
    font-family: "Arial";
    font-weight: 700;
    src:
        url(./ArialBold.eot) format('eot'),
        url(./ArialBold.woff) format('woff'),
        url(./ArialBold.ttf) format('truetype');
}

@font-face {
    font-family: "Arial";
    font-weight: 400;
    src:
        url(./ArialRegular.eot) format('eot'),
        url(./ArialRegular.woff) format('woff'),
        url(./ArialRegular.ttf) format('truetype');
}