.place__website {
  max-width: 100%;
  height: 46px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .place__website {
    align-self: flex-start;
    margin: 0 16px;
  }
}