.place__website {
  max-width: 100%;
  height: 46px;
  display: grid;
  grid-row: 1;
  grid-column: 2;
  align-self: flex-end;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .place__website {
    align-self: flex-start;
    margin: auto 16px;
  }
}